# Q. A hospital wants to determine wheter there is any difference between the avg Turn Around Time (TAT) of reports of the laboratries on their prefered list.They collected a random sample and recored TAT for reports of 4 laboratries. TAT is defined as sample collected to report dispatch.

## Analyze the data determine whether there is any difference in the average TAT amoung the different laboratries at 5% significance level.
* dataset to be used: LabTAT.csv

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [2]:
TAT_data = pd.read_csv('LabTAT.csv')
TAT_data.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

In [3]:
TAT_data.shape

(120, 4)

In [4]:
TAT_data.describe()

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [5]:
TAT_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

### Statistical Tests

In [6]:
np.mean(TAT_data['Laboratory 1'])

178.36158333333339

In [7]:
np.mean(TAT_data['Laboratory 2'])

178.9029166666668

In [8]:
np.mean(TAT_data['Laboratory 3'])

199.91325000000003

In [9]:
np.mean(TAT_data['Laboratory 4'])

163.6827499999999

#  Assumption 
* Ho : There is no any significance difference in the average TAT report of the laboratries  
* Ha : There is significance difference in the average TAT report of the laboratries

#### ANOVA Test
* Used for calculating t-test score and P-value of multiple quantitative samples.

In [10]:
from scipy.stats import f_oneway

In [11]:
lab_1 = TAT_data['Laboratory 1']
lab_2 = TAT_data['Laboratory 2']
lab_3 = TAT_data['Laboratory 3']
lab_4 = TAT_data['Laboratory 4']

In [12]:
t_score,p_val =f_oneway(lab_1,lab_2,lab_3,lab_4)
p_val

2.1156708949992414e-57

In [13]:
if p_val <= 0.05:
    print('Ha: There is a significant difference in the average TAT amoung the different laboratries.')
else:
    print('Ho: There is no significant difference in the average TAT amoung the different laboratries.')

Ha: There is a significant difference in the average TAT amoung the different laboratries.

# There is a difference in the average TAT amoung the different laboratries at 5% significance level.

###           --------------------------------------------------------------xxx---------------------------------------------------------