# Q. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlets between two units. A randomly selected sample was collected from both units and measured ! Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you have carried out to  check validity of the assunptions.
* dataset to be used: Cutlets.csv

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
cutlet_data = pd.read_csv('Cutlets.csv')
cutlet_data.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [3]:
cutlet_data.shape

(35, 2)

In [4]:
cutlet_data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
cutlet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [6]:
cutlet_data_A = cutlet_data.rename({'Unit A': 'Unit_A'},axis=1)
cutlet_data_B = cutlet_data.rename({'Unit B': 'Unit_B'},axis=1)

In [7]:
A_data = cutlet_data_A.Unit_A
B_data = cutlet_data_B.Unit_B

##  Assumption:
* Ho : There is no significant difference between the diameter of the cutlets.
* Ha : There is a significant difference between the diameter of the cutlets.

## 2 Sample t-test.
* Used for calculating t-score and p-value of 2 quantitative samples.

In [8]:
t_score,p_val = stats.ttest_ind(A_data,B_data)
p_val

0.4722394724599501

In [9]:
if p_val <= 0.05:
    print('We will consider the Ha saying that, There is a significant difference in the diameter.')
else:
    print('We reject the Ha saying that, There is no significant difference in the diameter of Cutlets')

We reject the Ha saying that, There is no significant difference in the diameter of Cutlets

## Staying with the Null-Hypothesis and rejecting the Alternate Hypothesis

### --------------------------------------------------------------xxx-------------------------------------------------------------