# Q.TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.
* dataset to be used: Costomer+OrderForm.csv

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
cof_data = pd.read_csv('Costomer+OrderForm.csv')
cof_data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
cof_data.shape

(300, 4)

In [4]:
cof_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
cof_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [6]:
print(cof_data['Phillippines'].value_counts(),cof_data['Indonesia'].value_counts(),cof_data['Malta'].value_counts(),cof_data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [7]:
obs_values = ([[271,267,269,280],[29,33,31,20]])

## Assumptions
* Ho: Defective % do not vary by centre.
* Ha: Defective % varies by centre.

In [8]:
chi_val, p_val, df, ev = stats.chi2_contingency(obs_values)
print('Chi-squared value: {}.\np_value: {}.\nDegrees of Freedom: {}.\nExpected Value: \n{}'.format(chi_val, p_val, df, ev))

Chi-squared value: 3.858960685820355.
p_value: 0.2771020991233135.
Degrees of Freedom: 3.
Expected Value:
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [9]:
if p_val <= 0.05:
    print('We will consider the Ha.')
else:
    print('We reject the Alternate Hypothesis')

We reject the Alternate Hypothesis

# Defective Error % does not vary by centre.