# Q. Sales of product in four different regions is tabulated for males and females. Find if male-female buyer rations are simmilar across regions.
* dataset to be used: BuyerRatio.csv

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
br_data = pd.read_csv('BuyerRatio.csv')
br_data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
br_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [4]:
br_data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

## Assumptions:
* Ho: All proportions are equal.
* Ha: Not all proportions are equal.
* alpha = 0.05

In [5]:
del br_data['Observed Values']

In [6]:
br_data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

## Chi-square test
* Used for calculating Chi-squared value, p-value, Degrees of Freedom & Expected values of qualitative samples.

In [7]:
chisq,p_val,DF,EV = stats.chi2_contingency(br_data)
print('Chi-squared value: {}.\nPval: {}.\nDegree of Freedom: {}.\nExpected Value: \n{}.'.format(chisq, p_val, DF, EV))

Chi-squared value: 1.595945538661058.
Pval: 0.6603094907091882.
Degree of Freedom: 3.
Expected Value:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]].

In [8]:
print('Chi-squared value: {}.\nPval: {}.\nDegree of Freedom: {}.\nExpected Value: \n{}.'.format(chisq, p_val, DF, EV))
if p_val<= 0.05:
    print('Ha: Not all proportions are equal.')
else:
    print('Ho: All proportions are equal')

Chi-squared value: 1.595945538661058.
Pval: 0.6603094907091882.
Degree of Freedom: 3.
Expected Value:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]].
Ho: All proportions are equal

## Male-Female buyer rations are simmilar across regions

# ----------------------------------------------xxx------------------------------------------